/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.img {
  width: 100%;
}
.link {
  font-family: fantasy, cursive;
}
@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.section__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__wrapper {
  display: flex;
}
.section__list {
  margin: 0;
  padding: 0px;
}
.section__item,
.section__title {
  list-style: none;
}
.section__input,
.section__button {
  outline: none;
}
.section__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.section__button:hover {
  color: #3a3a3a;
}
/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.section__input:focus {
  color: #333;
}
/* New Task */
 .section__title_margin {
  display: block;
  margin: 0 0 20px;
}
.section__input_width {
  width: 318px;
}
/* Task list */
.section__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__item > * {
  vertical-align: middle;
}
.section__checkbox {
  margin: 0 10px;
}
.section__title-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.section__item .section__input {
  width: 226px;
}
.delete__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete__icon:hover {
  transform: rotateZ(0);
}
/* Completed */
.complete .section__title-task {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.section__list .section__input {
  display: none;
}
.edit-mode .section__input {
  display: inline-block;
  width: 224px;
}
.edit-mode .section__title-task {
  display: none;
}